<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DiccionarioApp"
        tools:targetApi="31">
        <activity
            android:name=".JuegoActivity"
            android:exported="false"
            android:label="@string/title_activity_juego"
            android:theme="@style/Theme.DiccionarioApp" />
        <activity
            android:name=".UnidoMesaActivity"
            android:exported="false"
            android:label="@string/title_activity_unido_mesa"
            android:theme="@style/Theme.DiccionarioApp" />
        <activity
            android:name=".PreMesaActivity"
            android:exported="false"
            android:label="@string/title_activity_pre_mesa_nombre"
            android:theme="@style/Theme.DiccionarioApp" />
        <activity
            android:name=".PreUnidoMesaActivity"
            android:exported="false"
            android:label="@string/title_activity_unirse_mesa"
            android:theme="@style/Theme.DiccionarioApp" />
        <activity
            android:name=".MesaActivity"
            android:exported="false"
            android:label="@string/title_activity_mesa"
            android:theme="@style/Theme.DiccionarioApp" />
        <activity
            android:name=".JugarActivity"
            android:exported="false"
            android:label="@string/title_activity_jugar"
            android:theme="@style/Theme.DiccionarioApp" />
        <activity
            android:name=".ComoJugarActivity"
            android:exported="false"
            android:label="@string/title_activity_como_jugar"
            android:theme="@style/Theme.DiccionarioApp" />
        <activity
            android:name=".ContactoActivity"
            android:exported="false"
            android:label="@string/title_activity_creditos"
            android:theme="@style/Theme.DiccionarioApp" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.DiccionarioApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>